<div id="<%= dom_id membership %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Account:</strong>
    <%= link_to membership.account %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= link_to membership.user %>
  </p>

</div>
