<div id="<%= dom_id chore %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= chore.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Account:</strong>
    <%= link_to chore.account %>
  </p>

</div>
