<div id="<%= dom_id plan %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= plan.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price in cents:</strong>
    <%= plan.price_in_cents %>
  </p>

</div>
